<section class="header">
  <div class="header__ramas-superior"></div>

  <h2 data-aos="zoom-in-down"
    data-aos-duration="2000">
    Nuestra boda civil
  </h2>

  <div class="header__img">

    <div class="header__img-slice header__img-slice--left"
      data-aos="fade-down"
      data-aos-duration="1500"></div>
    <div class="header__img-slice header__img-slice--center"
      data-aos="fade-down"
      data-aos-duration="1800"></div>
    <div class="header__img-slice header__img-slice--right"
      data-aos="fade-down"
      data-aos-duration="2000"></div>
  </div>

  <h1 class="header__names"
    data-aos="zoom-in-down"
    data-aos-duration="2000">
    <span class="header__names-left">Lissette</span>
    <span class="header__names-separator">&</span>
    <span class="header__names-right">Carlos E.</span>
  </h1>

  <div class="header__ramas-inferior"></div>
</section>