<section class="asist">
  <p>Tu confirmación es muy importante! por
    favor., indicanos si asistes o no a
    nuestra boda antes del 20 de Diciembre 2025
  </p>

  <div class="buttons">

    <a href="https://wa.me/7222642812?text=¡Hola!%20Quisiera%20confirmar%20mi%20asistencia%20💌">
      <i class="fa-brands fa-whatsapp"></i>
      <p>Novio</p>
    </a>

    <a href="https://wa.me/5519165262?text=¡Hola!%20Quisiera%20confirmar%20mi%20asistencia%20💌">
      <i class="fa-brands fa-whatsapp"></i>
      <p>Novia</p>
    </a>
  </div>


  <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1760050979/logo_f3rjs2.png"
    alt="logo">

</section>

<div class="ramas">
</div>
