@use 'app.component.scss';
@use 'variables' as v;
@use 'mixins' as m;

.asist{
  color: black;
  padding: 3rem;
  text-align: center;
  margin: -3rem 0;

  @include m.desktop{
    padding: 20rem 30rem 5rem;
  }

  p{
    font-size: 1.7rem;
    padding: 0 3rem;

    @include m.desktop{
      font-size: 2rem;
    }
  }

  .buttons{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem 0;

    a{
      color: black;
      text-align: center;
      text-decoration: none;
      justify-content: center;
      width: 60%;
      display: flex;
      align-items: center;
      background-color: v.$lis-tertiary;
      cursor: pointer;

      @include m.desktop{
        width: 40%;
      }

      &:hover{
        background-color: v.$lis-principal;
        color: white;
      }

      &:last-child{
        align-self: flex-end;
      }
    }

    i{
      color: green;
    }


  }

  img{
    margin-top: 3rem;
    width: auto;
    height: 10rem;

    @include m.desktop{
      height: 15rem;
    };
  }

}

  .ramas{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: -10rem;

    @include m.desktop{
      display: none;
    }

    &::after, &::before{
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759972053/rama-vestimenta_tejwx6.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::before{
      left: 0;
      background-position: left bottom;
      transform: scaleX(-1);
      background-position-x: calc(100% + 7rem);
    }

    &::after{
      right: 0;
      background-position: right bottom;
      background-position-x: calc(100% + 5rem);
    }
}
