<div class="invitation">
  <div class="invitation__container">

    <section class="header">
      <div class="header__ramas-superior"></div>

      <h2 data-aos="zoom-in-down"
        data-aos-duration="2000">
        Nuestra boda civil
      </h2>

      <div class="header__img">
        <video class="header__video"
          src="assets/videos/lissette.mp4"
          muted
          playsinline></video>

        <div class="header__img-slice header__img-slice--left"
          data-aos="fade-down"
          data-aos-duration="1500"></div>
        <div class="header__img-slice header__img-slice--center"
          data-aos="fade-down"
          data-aos-duration="1800"></div>
        <div class="header__img-slice header__img-slice--right"
          data-aos="fade-down"
          data-aos-duration="2000"></div>
      </div>

      <h1 class="header__names"
        data-aos="zoom-in-down"
        data-aos-duration="2000">
        <span class="header__names-left">Carlos E.</span>
        <span class="header__names-separator">&</span>
        <span class="header__names-right">Lissette</span>
      </h1>
    </section>

    <section class="music">

      <p>Da play a nuestra muestra</p>

      <div class="music__progress">
        <input class="music__progress-bar"
          type="range"
          step="0.1"
          [value]="musicService.currentTime$ | async"
          [max]="musicService.duration$ | async"
          (input)="musicService.seek($any($event.target).value)" />
      </div>

      <div class="music__display">
        <span class="music__display-block">
          {{ formatTime(musicService.currentTime$ | async) }}
        </span>

        <span class="music__display-block">
          {{ formatTime(musicService.duration$ | async) }}
        </span>
      </div>

      <button class="music__play-button"
        (click)="musicService.togglePlay()">
        <span *ngIf="!(musicService.isPlaying$ | async)"
          class="icon-play"></span>

        <span *ngIf="musicService.isPlaying$ | async"
          class="icon-pause">
          <span></span>
          <span></span>
        </span>
      </button>

    </section>

    <section class="video">
      <video class="header__video"
        src="https://res.cloudinary.com/dxxf2jyg8/video/upload/v1759970641/Lissette1_ac4gqr.mp4"
        muted
        controls
        playsinline></video>
    </section>


    <section class="calendar">

      <div class="calendar__branch"></div>

      <div class="calendar__container">

        <h2 class="calendar__title">Guarda la fecha</h2>

        <p class="calendar__mes">Diciembre 2025</p>

        <div class="calendar__content">
          <div class="calendar__content-weekdays"
            *ngFor="let day of weekdays"
            data-aos="zoom-out-up"
            data-aos-duration="2200">
            <p>{{ day }}</p>
          </div>

          <div class="
          calendar__content-days"
            *ngFor="let numberDay of days"
            data-aos="zoom-out-up"
            data-aos-duration="2200">
            <p>{{numberDay}}</p> <i *ngIf="numberDay === 27"
              class="fa-regular fa-heart"></i>
          </div>
        </div>
      </div>

    </section>

    <section class="counter">

      <div class="counter__bouquet"></div>

      <div class="counter__container">
        <h3 class="counter__title">CUENTA REGRESIVA</h3>

        <div data-aos="zoom-in"
          data-aos-duration="1000"
          class="counter__content">

          <div *ngIf="!contadorService.eventoFinalizado; else eventoTerminado"
            class="counter__content-days">
            <div class="time">
              <p>{{ contadorService.dias }}</p>
              <p>DÍAS</p>
            </div>
            <p class="counter__content-days-separador">:</p>
            <div class="time">
              <p>{{ contadorService.horas }}</p>
              <p>HORAS</p>
            </div>
            <p class="counter__content-days-separador">:</p>
            <div class="time">
              <p>{{ contadorService.minutos }}</p>
              <p>MINUTOS</p>
            </div>
            <p class="counter__content-days-separador">:</p>
            <div class="time">
              <p>{{ contadorService.segundos }}</p>
              <p>MINUTOS</p>
            </div>
          </div>

          <ng-template #eventoTerminado>
            <div class="text-center p-8">
              <h1 class="text-4xl font-bold">¡La fiesta ha comenzado!</h1>
            </div>
          </ng-template>

        </div>

      </div>

      <div class="counter__addCalendary">
        <div (click)="abrirGoogleCalendar()"
          class="counter__addCalendary-container">
          <i class="fa-regular fa-calendar-plus"></i>
          <p>Añadir al calendario</p>
        </div>
      </div>

      <p class="counter__text">Nuestra felicidad solo esta completa cuado
        la compartimos con las personas a
        las que amamos</p>
    </section>

    <section class="gallery">

      <h2 class="gallery__title">Galeria de fotos</h2>

      <p-carousel [value]="products"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="5000"
        data-aos="zoom-in-up"
        data-aos-duration="1000">

        <ng-template let-product
          let-i="index"
          #item>
          <div class="border-solid rounded-2xl">
            <div class="relative mx-auto">
              <img [src]="'https://res.cloudinary.com/dxxf2jyg8/image/upload/' + product.image"
                alt="prueba"
                class="w-full h-[45rem] md:h-[55rem] object-cover" />
            </div>
          </div>
        </ng-template>

      </p-carousel>


    </section>

    <section class="filter">
      <span class="filter__comment">Comparte con nosotros</span>

      <h2 class="filter__title">Nuestro filtro</h2>

      <p class="filter__paragraph">
        Utiliza nuestro filtro para subir fotos y videos
        en redes socials
      </p>

      <div class="filter__links">
        <button class="btn facebook"
          (click)="shareOnFacebook()">
          <i class="fab fa-facebook"></i>
        </button>

        <button class="btn instagram"
          (click)="shareOnInstagram()">
          <i class="fab fa-instagram"></i>
        </button>
      </div>

      <div class="filter__text">
        <p (click)="copiarAlPortapapeles(hashtag , 'hashtag')"
          class="filter__copy-text">
          <u>{{ hashtag }}</u>
          <span class="tooltip"
            *ngIf="tooltips[hashtag]">¡Copiado!</span>
        </p>

      </div>
    </section>

    <section class="parents">

      <h2 class="parents__title">
        Nuestros Padres
      </h2>

      <div class="parents__content">

        <div class="parents__content-block
      parents__content-block--left
      "
          data-aos="fade-up-right"
          data-aos-duration="1200">
          <h3>Papás del novio</h3>

          <div class="parents__content-block-names">
            <p>Adriana Muñoz Pérez </p>
            <p>Flavio Muñoz Beristain</p>
          </div>

          <div class="parents__content-block-bouquet"></div>
        </div>

        <div class="parents__content-block
      parents__content-block--right
      "
          data-aos="fade-up-left"
          data-aos-duration="1200">
          <h3>Papás de la novia</h3>

          <div class="parents__content-block-names">
            <p>Delia Adriana Valencia Monroy </p>
            <p>Argentino Monroy Segura</p>
          </div>

          <div class="parents__content-block-bouquet"></div>
        </div>
      </div>





    </section>

    <section class="location">

      <h2>Ubicación</h2>

      <div class="location__container">
        <div class="location__block">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971955/copas_jpqf2o.svg"
            alt="icon copas"
            class="location__block-glasses">


          <span>Recepción</span>

          <h3>Nombre sel salón</h3>

          <p>San Mateo texcalyacac. Calle privada del sombrerete, Edo Méx</p>

          <span>1:00 PM</span>

          <a href="https://maps.app.goo.gl/JA6Qv9VY2WPR2xoz9"
            target="_blank">ver
            ubicacion</a>
        </div>
      </div>

    </section>

    <section class="img-1">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759969841/hub_hnxucb.webp"
        alt="pareja"
        class="img-1">
    </section>

    <section class="itinerary">
      <h2 class="itinerary__title">Programa de la boda</h2>

      <div class="itinerary__content">

        <div class="itinerary__content-left">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759972042/icon-civil_q23wzk.png"
            alt="icon civil">

          <div class="info">
            <p class="info__time">1:00 PM</p>
            <p class="info__text">Ceremonia civil</p>
          </div>
        </div>

        <div class="itinerary__content-right">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971954/coctel_q2xgfw.svg"
            alt="icon coctel">

          <div class="info">
            <p class="info__time">2:00 PM</p>
            <p class="info__text">Coctel de bienvenida</p>
          </div>
        </div>

        <div class="itinerary__content-left">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971952/banquete_lkelkc.svg"
            alt="icon banquete">

          <div class="info">
            <p class="info__time">3:30 PM</p>
            <p class="info__text">Banquete</p>
          </div>
        </div>

        <div class="itinerary__content-right">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971964/pastel_j2i4mj.svg"
            alt="icon pastel">

          <div class="info">
            <p class="info__time">6:30 PM</p>
            <p class="info__text">Pastel</p>
          </div>
        </div>

        <div class="itinerary__content-left">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971965/ramo_nlbgmu.svg"
            alt="icon banquete">

          <div class="info">
            <p class="info__time">7:00 PM</p>
            <p class="info__text">Ramo y liga</p>
          </div>
        </div>

        <div class="itinerary__content-right">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971951/banda_r1bavs.svg"
            alt="icon pastel">

          <div class="info">
            <p class="info__time">9:00 PM</p>
            <p class="info__text">Banda</p>
          </div>
        </div>

        <div class="itinerary__content-left">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971950/baile_qsk1dm.svg"
            alt="icon banquete">

          <div class="info">
            <p class="info__time">11:00 PM</p>
            <p class="info__text">Grupo</p>
          </div>
        </div>

      </div>


      <p class="itinerary__text">Nos aria inmensamente felices que nos acompañaras en el inicio de nuestra vida juntos
      </p>
    </section>

    <section class="outfit">

      <h2 class="outfit__title">
        Codigo de vestimenta
      </h2>

      <div class="outfit__content">
        <div class="outfit__breanch outfit__breanch--top"></div>

        <div class="info">
          <h2>Vestimenta Semi Formal</h2>

          <p>Les pedimoas de favor a los invitados evitar estos colores</p>

          <div class="info__colors">
            <div class="color color--1"></div>
            <div class="color color--2"></div>
            <div class="color color--3"></div>
          </div>

        </div>

        <div class="outfit__breanch outfit__breanch--bottom"></div>
      </div>


    </section>

    <section class="gifts">
      <img class="gifts__icons"
        src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971969/regalos-caja_j8qdjc.svg"
        alt="">
      <span class="gifts__message">Sugerencias</span>

      <h2 class="gifts__title">Mesa de Regalos</h2>

      <div class="gifts__content">

        <div class="gifts__block">
          <div class="front">
            <img class="gifts__icons"
              src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971968/regalo-banco_wswffy.svg"
              alt="">
            <p class="gifts__block-title">Datos Bancarios</p>
            <p class="gifts__details">VER DETALLES</p>
          </div>

          <div class="back">
            <p>Titular: <u (click)="copiarAlPortapapeles(nameTxt.innerText , 'nameTxt')"
                #nameTxt>Lissette</u>
              <span *ngIf="tooltips['nameTxt']">¡Copiado!</span>
            </p>
            <p>Cuenta: <u (click)="copiarAlPortapapeles(nameCuenta.innerText, 'nameCuenta')"
                #nameCuenta>12345678910</u> <span *ngIf="tooltips['nameCuenta']">¡Copiado!</span></p>
            <p>tarjeta: <u (click)="copiarAlPortapapeles(nameTarjeta.innerText, 'nameTarjeta')"
                #nameTarjeta>1111 2222 3333 4444</u> <span *ngIf="tooltips['nameTarjeta']">¡Copiado!</span> </p>
            <p>CLABE:<u (click)="copiarAlPortapapeles(nameClabe.innerText, 'nameClabe')"
                #nameClabe>123456789101112</u>
              <span *ngIf="tooltips['nameClabe']">¡Copiado!</span>
            </p>
          </div>
        </div>

        <div class="breanch"></div>

        <div class="gifts__block">
          <div class="front">
            <img class="gifts__icons"
              src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971970/regalo-sobre_ygem1r.svg"
              alt="">
            <p class="gifts__block-title">Lluvia de Sobres</p>
            <p class="gifts__details">VER DETALLES</p>
          </div>

          <div class="back">
            <p class="font-bold mb-4 text-[2rem]">¿En qué consiste?</p>
            <p> Es la tradición de regalar dinero en efectivo en un sobre el día del evento.</p>
          </div>
        </div>

        <div class="breanch"></div>
      </div>
    </section>

    <section class="img-2">
      <div class="block">
        <img src="assets/img/invitations/lissete/ramas-img2.svg"
          alt="">
      </div>
    </section>

  </div>
</div>