<div class="invitation">
  <div class="invitation__container">

    <header-component />

    <music-component />

    <section class="video">
      <video class="header__video"
        src="https://res.cloudinary.com/dxxf2jyg8/video/upload/v1759970641/Lissette1_ac4gqr.mp4"
        muted
        controls
        playsinline></video>
    </section>

    <calendar-component />

    <counter-component />

    <galery-component />

    <filter-component />

    <parents-component />

    <location-component />

    <section class="img-1">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759969841/hub_hnxucb.webp"
        alt="pareja"
        class="img-1">
    </section>

    <itinerary-component />

    <outfit-component />

    <gifts-component />

    <section class="img-2">
      <div class="img-2__container">
        <div class="img">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1760049719/gifts_hsiaib.webp"
            alt="img-2">
        </div>

      </div>
    </section>

    <asis-component />

  </div>
</div>
