<section class="gifts">
  <img class="gifts__icons"
    src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971969/regalos-caja_j8qdjc.svg"
    alt="">
  <span class="gifts__message">Sugerencias</span>

  <h2 class="gifts__title">Mesa de Regalos</h2>

  <div class="gifts__content">

    <div class="gifts__block"
      data-aos="fade-right"
      data-aos-duration="1200">
      <div class="front">
        <img class="gifts__icons"
          src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971968/regalo-banco_wswffy.svg"
          alt="">
        <p class="gifts__block-title">Datos Bancarios</p>
        <p class="gifts__details">VER DETALLES</p>
      </div>

      <div class="back">
        <p>Titular: <u (click)="copiarAlPortapapeles(nameTxt.innerText , 'nameTxt')"
            #nameTxt>Carlos Eduardo Muñoz Muñoz</u>

        </p>
        <p>Cuenta: <u (click)="copiarAlPortapapeles(nameTarjeta.innerText, 'nameTarjeta')"
            #nameTarjeta>002441904762846935</u> </p>
        <p>BANCO:<u (click)="copiarAlPortapapeles(nameClabe.innerText, 'nameClabe')"
            #nameClabe>Banamex</u>

        </p>
      </div>
    </div>

    <div class="breanch"></div>

    <div class="gifts__block"
      data-aos="fade-left"
      data-aos-duration="1200">
      <div class="front">
        <img class="gifts__icons"
          src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971970/regalo-sobre_ygem1r.svg"
          alt="">
        <p class="gifts__block-title">Lluvia de Sobres</p>
        <p class="gifts__details">VER DETALLES</p>
      </div>

      <div class="back">
        <p style="margin-bottom: 2rem;">¿En qué consiste?</p>
        <p> Es la tradición de regalar dinero en efectivo en un sobre el día del evento.</p>
      </div>
    </div>

    <div class="breanch"></div>
  </div>
</section>
