<section class="outfit">

  <h2 class="outfit__title">
    Codigo de vestimenta
  </h2>

  <div class="outfit__content"
    data-aos="zoom-in-up"
    data-aos-duration="1000">
    <div class="outfit__breanch outfit__breanch--top"></div>

    <div class="info">
      <h2>Vestimenta Semi Formal</h2>

      <p>Les pedimoas de favor a los invitados evitar estos colores</p>

      <div class="info__colors">
        <div class="color color--1"></div>
        <div class="color color--2"></div>
        <div class="color color--3"></div>
      </div>

    </div>

    <div class="outfit__breanch outfit__breanch--bottom"></div>
  </div>


</section>
