// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 2048px;


// Boda lissette
$bg-page-lissette: #ECE8DC;
$lis-principal: #55665C;
$lis-secondaty: #8D161C;
$lis-tertiary: #C5BEB3;
