<section class="parents">

  <h2 class="parents__title">
    Nuestros Padres
  </h2>

  <div class="parents__content">

    <div class="parents__content-block
      parents__content-block--left
      "
      data-aos="fade-up-right"
      data-aos-duration="1200">
      <h3>Papás de la novia</h3>

      <div class="parents__content-block-names">
        <p>Delia Adriana Valencia Monroy </p>
        <p>Argentino Monroy Segura</p>
      </div>

      <div class="parents__content-block-bouquet"></div>
    </div>

    <div class="parents__content-block
      parents__content-block--right
      "
      data-aos="fade-up-left"
      data-aos-duration="1200">
      <h3>Papás del novio</h3>

      <div class="parents__content-block-names">
        <p>Adriana Muñoz Pérez </p>
        <p>Flavio Muñoz Beristain</p>
      </div>

      <div class="parents__content-block-bouquet"></div>
    </div>
  </div>
</section>